.footer-wrapper
  max-width 1010px
  margin 0 auto
  text-align center
  +below(780px)
    display block
    text-align center
  h4
    color #FFF
    text-transform uppercase
    font-weight 400
    font-size .9rem
    +below(780px)
      font-size .8rem
    margin 0
  ul
    padding 0
    max-width 170px
    margin 0 auto 30px auto
    list-style none
    display flex
    justify-content space-around
    +below(780px)
      justify-content center
    li
      margin-left 14px
      &:first-child
        margin-left 0
      +below(780px)
        margin 12px 20px
      justify-content center
      a
        text-decoration none
        cursor pointer

footer
  background-color #6CEBDC
  background-image url('../images/bg-header.png')
  background-size cover
  background-repeat no-repeat
  padding 160px 60px 35px 60px
  margin-top 50px
  position relative
  .social-icon
    width 25px
    height 25px
  .add-chrome
    position absolute
    top -8px
    left 50%
    transform translateX(-50%)
    a
      text-decoration none
      padding 15px 30px
      +below(780px)
        padding 15px 12px
        +below(360px)
          font-size .6rem
  +below(780px)
    padding 60px 15px 25px 15px
    margin-top 50px
