color-1 = #76c0a3 //dark sea green
color-2 = rgba(253, 138, 117, 1) //coral pink
color-3 = rgba(90, 39, 115, 0.7)  //purple pack
color-4 = #F88977 //red
color-5 = #674E73 //dark purple
color-gray = rgba(143, 148, 157, 1)
color-orange-light = rgba(253, 138, 117, 1)
google-color = #EB4537
facebook-color = #4267b2
twitter-color = #1da1f2