@keyframes rocket {

  0% {
      transform: translate(80px, -50px) rotate(-30deg)
  }

  50% {
      transform: translate(-740px, 230px) rotate(0deg)
  }

  70% {
      transform: translate(-850px, 170px) rotate(70deg)
  }

  90% {
      transform: translate(-850px, 200px) rotate(70deg)
  }

  100% {
      transform: translate(-845px, 303px) rotate(70deg)
  }
}