.footer-wrapper
  max-width 1010px
  margin 0 auto
  display flex
  justify-content space-between
  h4
    color #FFF
    text-transform uppercase
    font-weight 400
    font-size .9rem
    +below(780px)
      font-size .8rem
      margin-top 6px
    margin 0
  ul
    padding 0
    margin 0
    list-style none
    display flex
    li
      margin-left 14px
      a
        text-decoration none
        cursor pointer
        color #FFF
        text-transform uppercase
        font-size .9rem
        +below(780px)
          font-size .8rem
        &:hover
          border-bottom 1px solid #FFF

footer
  background-color #6CEBDC
  background-image url('../images/bg-footer.png')
  background-size cover
  background-repeat no-repeat
  padding 160px 60px 35px 60px
  margin-top 50px
  position relative
  .add-chrome
    position absolute
    top -8px
    left 50%
    transform translateX(-50%)
    a
      text-decoration none
      padding 15px 30px
      +below(780px)
        padding 15px 12px
        +below(360px)
          font-size .6rem
  +below(780px)
    padding 70px 15px 25px 15px
    margin-top 50px
