.footer-wrapper
  max-width 1010px
  margin 0 auto
  display flex
  justify-content space-between
  +mobile()
    margin-top 20px
  h4
    color #FFF
    text-transform uppercase
    font-weight 400
    font-size .9rem
    +mobile()
      font-size .5rem
      margin-top 6px
    margin 0
  ul
    padding 0
    margin 0
    list-style none
    display flex
    li
      margin-left 14px
      a
        text-decoration none
        cursor pointer
        color #FFF
        text-transform uppercase
        font-size .9rem
        +mobile()
          font-size .5rem
        &:hover
          border-bottom 1px solid #FFF

footer
  background-color #6CEBDC
  background-image url('../images/background-footer.png')
  background-size cover
  background-attachment fixed
  padding 160px 60px 35px 60px
  margin-top 50px
  position relative
  .add-chrome
    position absolute
    top -8px
    left 50%
    transform translateX(-50%)
    a
      text-decoration none
      padding 15px 30px
    +mobile()
      width 215px
  +mobile()
    padding 40px 15px 25px 15px