@import 'kouto-swiss'
normalize()
.btn
  text-decoration none
  padding 10px 24px
  font-weight 200
  color #FFF
  border-radius 4px
  text-transform uppercase
  background color-4
  font-size 13px
  transition .3s all
  &:hover
    background darken(color-4, 10%)
body, html
	font-family "Calibri", sans-serif
	height 100%

h2, p
  margin 0