header
  max-width 1180px
  margin 20px auto
  .logo-title
    display inline-block
    margin 0
    text-transform uppercase
    letter-spacing 4px
    .flu
      color color-3
      font-weight 200
      &:after
        content ""
        width 20px
        height 2px
        background color-3
        position absolute
        margin-left -18px
        margin-top 7px
      &:before
        content ""
        width 10px
        height 2px
        background color-3
        position absolute
        margin-left 27px
        margin-top 13px
    .any
      color color-1
  .btn-download
    float right

.btn
  text-decoration none
  padding 10px 27px
  background color-1
  color #FFF
  border-radius 4px
  text-transform uppercase
  font-size 13px