.title
  color color-3
  font-size 30px
  text-transform uppercase
  width 610px
  margin 30px auto
  text-align center

.description
  color color-gray
  text-align center
  max-width 670px
  font-weight 300
  margin 0 auto
  
.banner-content
  background url('../images/brain.png') no-repeat
  background-position right 60px
  max-width 1000px
  margin 0 auto
  padding-top 150px
  position relative
  height 80%
  .banner-panel
    max-width 600px
    margin 0 auto
    text-align center
    letter-spacing 3px
    h2
      @extend .title
    h3
      color color-2
      margin-bottom 70px
    p
      color color-3
    .btn-download
      font-size 15px
      padding 13px 40px
      letter-spacing 2px
    .arrow-panel
      width 53px
      margin 60px auto
      @media screen and (max-height: 720px)
        bottom 50px
      .dot
        width 6px
        height 6px
        background color-3
        display block
        margin 10px auto
        border-radius 100%
      .arrow-bottom
        width 40px
        height 40px
        cursor pointer
        margin 25px auto
        border 1px solid color-gray
        border-radius 100%

  .planet-red-icon
    position absolute
    top 270px
    left -150px
    z-index 10
  .planet-purple-icon
    position absolute
    top 20px
    right -110px
    width 213px
    height 150px

.features-section
  h2
    text-align center
    text-transform uppercase
    color color-3
    font-size 30px
  ul
    list-style none
    display flex
    max-width 1100px
    margin 0 auto
    padding 0
    li
      color color-3
      text-align center
      padding 50px
      .browser-icon, .packlist-icon, .clock-icon
         width 80px
         height 80px
      .packlist-icon
        margin-left 30px
      h3
        margin 0
      p
        font-weight 300
        color color-gray
.review-section
  h2
    @extend .title
    width 700px
    font-weight 300
    span
      font-weight bold
    & + p
      @extend .description

.otimize-section
  h2
    font-size 100px
    text-transform uppercase
    text-align center
    font-weight 300
    color color-orange-light
    margin-bottom 18px
    span
      font-weight bold
    & + p
      @extend .description
footer
  background color-3
  padding 160px 60px 35px 60px
  margin-top 50px
  position relative
  .add-chrome
    position absolute
    top -8px
    left 50%
    transform translateX(-50%)
    a
      text-decoration none
      padding 15px 30px
  .footer-wrapper
    max-width 1010px
    margin 0 auto
    display flex
    justify-content space-between
    h4
      color #FFF
      text-transform uppercase
      font-weight 400
      font-size 14px
      margin 0
    ul
      padding 0
      margin 0
      list-style none
      display flex
      li
        margin-left 14px
        a
          text-decoration none
          cursor pointer
          color #FFF
          text-transform uppercase
          font-size 12px
          &:hover
            border-bottom 1px solid #FFF