.banner-content
  background url('../images/brain.png') no-repeat
  background-position right 60px
  max-width 1000px
  margin 0 auto
  padding-top 140px
  position relative
  .banner-panel
    max-width 600px
    margin 0 auto 180px auto
    text-align center
    letter-spacing 3px
    h2
      color color-3
      font-size 30px
      text-transform uppercase
      width 610px
      margin 30px auto
    h3
      color color-2
      margin-bottom 70px
    p
      color color-3
    .btn-download
      font-size 15px
      padding 13px 40px
      letter-spacing 2px
  .planet-red-icon
    position absolute
    top 270px
    left -150px
    z-index 10
  .planet-purple-icon
    position absolute
    top 20px
    right -260px

.features-section
  h2
    text-align center
    text-transform uppercase
    color color-3
    font-size 30px
  ul
    list-style none
    padding 0
    li
      color color-3